- name: Set weak passwords
  hosts: all
  become: true
{% for user in usernames %}
    - name: Set password for {{ user }}
      user:
        name: "{{ user }}"
{% raw %}
        password: "{{ password | password_hash('sha512') }}"
{% endraw %}
{% endfor %}