Sudo sed –i ‘s/^#\?PermitRootLogin.*/PermitRootLogin Yes/’ /etc/ssh/sshd_config
Sudo sed –i ‘s/^#\?PasswordAuthentication.*/PasswordAuthentication yes/’ /etc/ssh/sshd_config
Sudo sed –i ‘s/^#\?PermitEmptyPasswords.*/PermitEmptyPasswords Yes/’ /etc/ssh/sshd_config
